body{
    font-family: 'Open Sans';
    background-image:url(images/bg1.png);
}

.col-teal{
    color:teal;
    font-weight:700;
}

.top{
    
    display: flex;
}

.top h1{
    font-size: 50px;
}

.width-50{
    width: 50%;
}

.width-50 img{
    width: 80%;
}

.lb{
    text-decoration:none;
    padding: 10px 40px;
    background-image:linear-gradient(to right,#04a5a5,cadetblue);
    color:white;
    border-radius: 4px;
    font-weight:600;
    margin-left: 15px;
    margin-top:20px;
    display:inline-block;

}

.mid{
    display: flex;
    margin-top:70px;
}

.mid h1{
    font-size: 50px;
}